.elementor-188 .elementor-element.elementor-element-28ce {text-align: center;}
.elementor-188 .elementor-element.elementor-element-28ce .elementor-heading-title {color: #000;}
.elementor-188 .elementor-element.elementor-element-53ef .elementor-spacer-inner {height: 20px;}
.elementor-188 .elementor-element.elementor-element-3efc .elementor-text-editor {text-align: justify;}
.elementor-188 .elementor-element.elementor-element-4ee8 {text-align: left;}
.elementor-188 .elementor-element.elementor-element-4ee8 .elementor-heading-title {color: #000;}
.elementor-188 .elementor-element.elementor-element-cc8b8f1 .elementor-text-editor {text-align: justify;}
.elementor-188 .elementor-element.elementor-element-eab7f96 .elementor-spacer-inner {height: 20px;}
.elementor-188 .elementor-element.elementor-element-571604ea .elementor-button {background-color: #9199a1;}
.elementor-188 .elementor-element.elementor-element-e45480c .elementor-button {background-color: #9199a1;}
.elementor-188 .elementor-element.elementor-element-14b46299:not(.elementor-motion-effects-element-type-background), .elementor-188 .elementor-element.elementor-element-14b46299 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(255,255,255,0);}
.elementor-188 .elementor-element.elementor-element-14b46299 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-188 .elementor-element.elementor-element-14b46299 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-188 .elementor-element.elementor-element-82e29be .elementor-spacer-inner {height: 20px;}
.elementor-188 .elementor-element.elementor-element-3cd8064c .elementor-spacer-inner {height: 100px;}