.elementor-165 .elementor-element.elementor-element-3261 {text-align: center;}
.elementor-165 .elementor-element.elementor-element-3261 .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-ea5821e .elementor-spacer-inner {height: 20px;}
.elementor-165 .elementor-element.elementor-element-1a47 .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-274 .elementor-spacer-inner {height: 20px;}
.elementor-165 .elementor-element.elementor-element-83e9cb0 {text-align: left;}
.elementor-165 .elementor-element.elementor-element-83e9cb0 .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-c37843a {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-165 .elementor-element.elementor-element-c37843a .elementor-divider-separator {width: 100%;}
.elementor-165 .elementor-element.elementor-element-c37843a .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-165 .elementor-element.elementor-element-f9be5b0 {text-align: left;}
.elementor-165 .elementor-element.elementor-element-f9be5b0 .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-89ded90 .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-25ffde3 {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-165 .elementor-element.elementor-element-25ffde3 .elementor-divider-separator {width: 100%;}
.elementor-165 .elementor-element.elementor-element-25ffde3 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-165 .elementor-element.elementor-element-b5cb5ca {text-align: left;}
.elementor-165 .elementor-element.elementor-element-b5cb5ca .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-de891d4 .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-5b0bd2e {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-165 .elementor-element.elementor-element-5b0bd2e .elementor-divider-separator {width: 100%;}
.elementor-165 .elementor-element.elementor-element-5b0bd2e .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-165 .elementor-element.elementor-element-d31002c {text-align: left;}
.elementor-165 .elementor-element.elementor-element-d31002c .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-735cd72 .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-ae2166e {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-165 .elementor-element.elementor-element-ae2166e .elementor-divider-separator {width: 100%;}
.elementor-165 .elementor-element.elementor-element-ae2166e .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-165 .elementor-element.elementor-element-d4d3565 {text-align: left;}
.elementor-165 .elementor-element.elementor-element-d4d3565 .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-00a4edd .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-a24a017 {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-165 .elementor-element.elementor-element-a24a017 .elementor-divider-separator {width: 100%;}
.elementor-165 .elementor-element.elementor-element-a24a017 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-165 .elementor-element.elementor-element-f19cd47 {text-align: left;}
.elementor-165 .elementor-element.elementor-element-f19cd47 .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-5d11c3e .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-5439a75 {--divider-border-style: solid;--divider-border-color: #000;--divider-border-width: 1px;}
.elementor-165 .elementor-element.elementor-element-5439a75 .elementor-divider-separator {width: 100%;}
.elementor-165 .elementor-element.elementor-element-5439a75 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-165 .elementor-element.elementor-element-b7a9151 {text-align: left;}
.elementor-165 .elementor-element.elementor-element-b7a9151 .elementor-heading-title {color: #000;}
.elementor-165 .elementor-element.elementor-element-c5a347d .elementor-text-editor {text-align: justify;}
.elementor-165 .elementor-element.elementor-element-78525c8 .elementor-spacer-inner {height: 20px;}
.elementor-165 .elementor-element.elementor-element-308ff521 .elementor-button {background-color: #9199a1;}
.elementor-165 .elementor-element.elementor-element-323fa5a3:not(.elementor-motion-effects-element-type-background), .elementor-165 .elementor-element.elementor-element-323fa5a3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(255,255,255,0);}
.elementor-165 .elementor-element.elementor-element-323fa5a3 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-165 .elementor-element.elementor-element-323fa5a3 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-165 .elementor-element.elementor-element-485c40e2 .elementor-spacer-inner {height: 20px;}
.elementor-165 .elementor-element.elementor-element-6264510 .elementor-spacer-inner {height: 100px;}