.elementor-164 .elementor-element.elementor-element-5ff2 {text-align: center;}
.elementor-164 .elementor-element.elementor-element-5ff2 .elementor-heading-title {color: #000;}
.elementor-164 .elementor-element.elementor-element-4c0 .elementor-text-editor {text-align: justify;}
.elementor-164 .elementor-element.elementor-element-15d1fc4 .elementor-spacer-inner {height: 20px;}
.elementor-164 .elementor-element.elementor-element-270689c6 .elementor-button {background-color: #9199a1;}
.elementor-164 .elementor-element.elementor-element-a1a846e .elementor-button {background-color: #9199a1;}
.elementor-164 .elementor-element.elementor-element-2fbd9296:not(.elementor-motion-effects-element-type-background), .elementor-164 .elementor-element.elementor-element-2fbd9296 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(255,255,255,0);}
.elementor-164 .elementor-element.elementor-element-2fbd9296 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-164 .elementor-element.elementor-element-2fbd9296 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-164 .elementor-element.elementor-element-446ce89f .elementor-spacer-inner {height: 20px;}
.elementor-164 .elementor-element.elementor-element-4e98bc09 .elementor-spacer-inner {height: 100px;}
@media (min-width:768px) {.elementor-164 .elementor-element.elementor-element-63fecf4b {width: 40%;}
	.elementor-164 .elementor-element.elementor-element-4e53aaf7 {width: 26.662%;}}