.elementor-162 .elementor-element.elementor-element-8a1619a {text-align: center;}
.elementor-162 .elementor-element.elementor-element-8a1619a .elementor-heading-title {color: #000;}
.elementor-162 .elementor-element.elementor-element-b2a548b .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-0304c4a .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-ba5e392 .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-eb89d72 .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-49e9dd5 .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-484b074 .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-ed9db34 .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-4db861a .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-556bf86 .elementor-text-editor {text-align: justify;}
.elementor-162 .elementor-element.elementor-element-5ec6e96 .elementor-spacer-inner {height: 20px;}
.elementor-162 .elementor-element.elementor-element-7994758d .elementor-button {background-color: #9199a1;}
.elementor-162 .elementor-element.elementor-element-57032bd7:not(.elementor-motion-effects-element-type-background), .elementor-162 .elementor-element.elementor-element-57032bd7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(255,255,255,0);}
.elementor-162 .elementor-element.elementor-element-57032bd7 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-162 .elementor-element.elementor-element-57032bd7 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-162 .elementor-element.elementor-element-75ff0afe .elementor-spacer-inner {height: 20px;}
.elementor-162 .elementor-element.elementor-element-43ef1b92 .elementor-spacer-inner {height: 100px;}
@media (min-width:768px) {.elementor-162 .elementor-element.elementor-element-1c9ebf81 {width: 30%;}
	.elementor-162 .elementor-element.elementor-element-49762b59 {width: 36.662%;}}