.elementor-190 .elementor-element.elementor-element-6f5e {text-align: center;}
.elementor-190 .elementor-element.elementor-element-6f5e .elementor-heading-title {color: #000;}
.elementor-190 .elementor-element.elementor-element-3f3f .elementor-spacer-inner {height: 20px;}
.elementor-190 .elementor-element.elementor-element-500c .elementor-text-editor {text-align: justify;}
.elementor-190 .elementor-element.elementor-element-60f8 {text-align: left;}
.elementor-190 .elementor-element.elementor-element-60f8 .elementor-heading-title {color: #000;}
.elementor-190 .elementor-element.elementor-element-409121f .elementor-text-editor {text-align: justify;}
.elementor-190 .elementor-element.elementor-element-941 .elementor-spacer-inner {height: 20px;}
.elementor-190 .elementor-element.elementor-element-36d87194:not(.elementor-motion-effects-element-type-background), .elementor-190 .elementor-element.elementor-element-36d87194 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(255,255,255,0);}
.elementor-190 .elementor-element.elementor-element-36d87194 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-190 .elementor-element.elementor-element-36d87194 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-190 .elementor-element.elementor-element-3ecdf7db .elementor-spacer-inner {height: 20px;}
.elementor-190 .elementor-element.elementor-element-6e28de02 .elementor-spacer-inner {height: 100px;}