.elementor-187 .elementor-element.elementor-element-19fe {text-align: center;}
.elementor-187 .elementor-element.elementor-element-19fe .elementor-heading-title {color: #000;}
.elementor-187 .elementor-element.elementor-element-bac .elementor-text-editor {text-align: justify;}
.elementor-187 .elementor-element.elementor-element-5e62 {text-align: left;}
.elementor-187 .elementor-element.elementor-element-5e62 .elementor-heading-title {color: #000;}
.elementor-187 .elementor-element.elementor-element-86bb848 .elementor-text-editor {text-align: justify;}
.elementor-187 .elementor-element.elementor-element-af6528c {text-align: left;}
.elementor-187 .elementor-element.elementor-element-af6528c .elementor-heading-title {color: #000;}
.elementor-187 .elementor-element.elementor-element-0f54788 .elementor-text-editor {text-align: justify;}
.elementor-187 .elementor-element.elementor-element-1075 .elementor-spacer-inner {height: 20px;}
.elementor-187 .elementor-element.elementor-element-3fa9f32d .elementor-button {background-color: #9199a1;}
.elementor-187 .elementor-element.elementor-element-6d5a487 .elementor-button {background-color: #9199a1;}
.elementor-187 .elementor-element.elementor-element-49f3cc95:not(.elementor-motion-effects-element-type-background), .elementor-187 .elementor-element.elementor-element-49f3cc95 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(255,255,255,0);}
.elementor-187 .elementor-element.elementor-element-49f3cc95 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-187 .elementor-element.elementor-element-49f3cc95 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-187 .elementor-element.elementor-element-5d5c3ee .elementor-spacer-inner {height: 20px;}
.elementor-187 .elementor-element.elementor-element-115436f1 .elementor-spacer-inner {height: 100px;}